

<html class="h-full bg-gray-50">
<body class="h-full">
  <main class="max-w-7xl mx-auto pb-10 lg:py-12 lg:px-8">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
     <%= render 'teacher/dashboard/sidebar'%>
      <!-- Payment details -->
      <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
        <section aria-labelledby="payment-details-heading">

            <div class="shadow sm:rounded-md sm:overflow-hidden">
              <div class="bg-white py-6 px-4 sm:p-6">
                <%= form_with model: @freecourse , url: teacher_freecourses_path(), local: true do |f| %>

                                    
                    <div class="space-y-8 divide-y divide-gray-200">
                        <div>
                        <div>
                            <h3 class="text-lg leading-6 font-medium text-gray-900">New Freecourse</h3>
                            <p class="mt-1 text-sm text-gray-500"> Add new Freecourse here .</p>
                        </div>

                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    
                            <div class="sm:col-span-6">
                            <label for="photo" class="block text-sm font-medium text-gray-700"> Photo </label>
                            <div class="mt-1 flex items-center">
                                <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                                <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                </svg>

                                </span>
                                &nbsp;
                                <%= f.file_field :images , class: "ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"%>

                            </div>
                            </div>
                    


                        </div>
                        </div>

                  
                        <div class="pt-8">
                        <div>
                            <h3 class="text-lg leading-6 font-medium text-gray-900">Jibber Jabber</h3>
                            <p class="mt-1 text-sm text-gray-500">Meow.</p>
                        </div>

                        <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4 ">
                            <div class="col-span-4 sm:col-span-4">
                            <label for="first-name" class="block text-sm font-medium text-gray-700">Course/Article Name </label>
                            <div class="mt-1">
                                <%= f.text_field :name , class: "shadow-sm focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md"%>
                    
                            </div>
                            </div>


                            <div class="sm:col-span-5">
                            <label for="email" class="block text-sm font-medium text-gray-700"> Author </label>
                            <div class="mt-1">
                                <%= f.text_field :author , class: "shadow-sm focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md"%>
                            </div>
                            </div>

                            <div class="col-span-6 sm:col-span-6">
                            <label for="last-name" class="block text-sm font-medium text-gray-700"> Headline </label>
                            <div class="mt-1">
                                <%= f.text_field :headling , class: "shadow-sm focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md"%>
                            </div>
                            </div>


                            
                            <div class="col-span-6 sm:col-span-6">
                            <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Content </label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                <%= f.text_area :description , class: "shadow-sm focus:ring-green-500 focus:border-green-500 block w-full sm:text-sm border-gray-300 rounded-md"%>
                                <p class="mt-2 text-sm text-gray-500">Write the content here.</p>
                            </div>
                            </div>

                    </div>

                    <div class="pt-8 flex justify-end">
                        <button href= ""type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-blue-gray-900 hover:bg-blue-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Cancel</button>
                        <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">Save</button>
                    </div>

                    
                    </div>
            <% end %>

        </section>


      </div>
    </div>
  </main>
</div>
