<!DOCTYPE html>
<html>
  <head>
    <title>Innate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "https://user-images.githubusercontent.com/85568177/180199777-943ddb61-32ea-4aa6-ac42-344eba0458d6.png" %>

    </head>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= render 'home/headerAL' %>
    <% else %>
      <%= render 'home/header' %>

    <% end %>

<body>
    <%= yield %>
</body>


<footer>
  <% if user_signed_in? %>

  <% else %>
    <%= render 'home/footer' %>

    <% end %>
</footer>

</html>
